<a href="https://colab.research.google.com/github/Aazat/samples/blob/main/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from tensorflow import keras
from tensorflow.keras import layers

In [2]:
training = pd.read_csv("train.csv")
testing = pd.read_csv("test.csv")

In [3]:
training

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [4]:
features = ['Pclass','Sex','Age', 'SibSp','Parch']
training['Sex'] = pd.factorize(training['Sex'])[0]

In [8]:
X_train = training[features]
value = np.mean(X_train['Age'])
X_train['Age'].fillna(value = value)

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: Age, Length: 891, dtype: float64

In [10]:
X_train['Age'] = X_train['Age'].fillna(value = value)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [11]:
X_train.isna().any()

Pclass    False
Sex       False
Age       False
SibSp     False
Parch     False
dtype: bool

In [12]:
y_train = training['Survived']

In [13]:
X_test = testing[features]
value = np.mean(X_test['Age'])
X_test['Age'] = X_test['Age'].fillna(value= value)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [14]:
X_test.isna().any()

Pclass    False
Sex       False
Age       False
SibSp     False
Parch     False
dtype: bool

In [21]:
# training a neural network model
input_shape = len(features)
model = keras.Sequential([ 
                          layers.Dense(units= 4, input_shape=[input_shape]),
                          layers.Dense(units= 8, activation='relu'),
                          layers.Dense(units = 4, activation='relu'),
                          layers.Dense(units=  1, activation='sigmoid'),
])

In [22]:
model.compile(
    optimizer = 'adam',
    loss = keras.losses.BinaryCrossentropy(from_logits=True),
    metrics = [keras.metrics.BinaryCrossentropy()]
)

In [23]:
model.fit(X_train, y_train, epochs=20)

Epoch 1/20

/usr/local/lib/python3.7/dist-packages/tensorflow/python/util/dispatch.py:1096: UserWarning: "`binary_crossentropy` received `from_logits=True`, but the `output` argument was produced by a sigmoid or softmax activation and thus does not represent logits. Was this intended?"
  return dispatch_target(*args, **kwargs)

28/28 [==============================] - 1s 3ms/step - loss: 0.7003 - binary_crossentropy: 0.7003
Epoch 2/20
28/28 [==============================] - 0s 2ms/step - loss: 0.6282 - binary_crossentropy: 0.6282
Epoch 3/20
28/28 [==============================] - 0s 2ms/step - loss: 0.6191 - binary_crossentropy: 0.6191
Epoch 4/20
28/28 [==============================] - 0s 2ms/step - loss: 0.6119 - binary_crossentropy: 0.6119
Epoch 5/20
28/28 [==============================] - 0s 2ms/step - loss: 0.6045 - binary_crossentropy: 0.6045
Epoch 6/20
28/28 [==============================] - 0s 2ms/step - loss: 0.5937 - binary_crossentropy: 0.5937
Epoch 7/20
28/28 [==============================] - 0s 2ms/step - loss: 0.5834 - binary_crossentropy: 0.5834
Epoch 8/20
28/28 [==============================] - 0s 2ms/step - loss: 0.5693 - binary_crossentropy: 0.5693
Epoch 9/20
28/28 [==============================] - 0s 2ms/step - loss: 0.5573 - binary_crossentropy: 0.5573
Epoch 10/20
28/28 [==============================] - 0s 2ms/step - loss: 0.5433 - binary_crossentropy: 0.5433
Epoch 11/20
28/28 [==============================] - 0s 2ms/step - loss: 0.5318 - binary_crossentropy: 0.5318
Epoch 12/20
28/28 [==============================] - 0s 2ms/step - loss: 0.5277 - binary_crossentropy: 0.5277
Epoch 13/20
28/28 [==============================] - 0s 1ms/step - loss: 0.5117 - binary_crossentropy: 0.5117
Epoch 14/20
28/28 [==============================] - 0s 2ms/step - loss: 0.4836 - binary_crossentropy: 0.4836
Epoch 15/20
28/28 [==============================] - 0s 1ms/step - loss: 0.4568 - binary_crossentropy: 0.4568
Epoch 16/20
28/28 [==============================] - 0s 2ms/step - loss: 0.4481 - binary_crossentropy: 0.4481
Epoch 17/20
28/28 [==============================] - 0s 1ms/step - loss: 0.4464 - binary_crossentropy: 0.4464
Epoch 18/20
28/28 [==============================] - 0s 1ms/step - loss: 0.4488 - binary_crossentropy: 0.4488
Epoch 19/20
28/28 [==============================] - 0s 2ms/step - loss: 0.4423 - binary_crossentropy: 0.4423
Epoch 20/20
28/28 [==============================] - 0s 1ms/step - loss: 0.4409 - binary_crossentropy: 0.4409

In [49]:
X_test['Sex'] = pd.factorize(X_test['Sex'])[0]
X_test

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

     Pclass  Sex       Age  SibSp  Parch
0         3    0  34.50000      0      0
1         3    1  47.00000      1      0
2         2    0  62.00000      0      0
3         3    0  27.00000      0      0
4         3    1  22.00000      1      1
..      ...  ...       ...    ...    ...
413       3    0  30.27259      0      0
414       1    1  39.00000      0      0
415       3    0  38.50000      0      0
416       3    0  30.27259      0      0
417       3    0  30.27259      1      1

[418 rows x 5 columns]

In [29]:
predictions = model.predict(X_test)

In [ ]:
predictions

In [32]:
sample = (predictions > 0.5)

In [50]:
print(type(sample), type(predictions), predictions.shape, X_test.shape)

<class 'numpy.ndarray'> <class 'numpy.ndarray'> (418, 1) (418, 5)

In [37]:
print(np.c_[predictions[:20], sample[:20]])

[[0.08599836 0.        ]
 [0.6050664  1.        ]
 [0.15854105 0.        ]
 [0.12066615 0.        ]
 [0.5166209  1.        ]
 [0.21314129 0.        ]
 [0.6428652  1.        ]
 [0.15491378 0.        ]
 [0.6378547  1.        ]
 [0.16719696 0.        ]
 [0.10425657 0.        ]
 [0.36346933 0.        ]
 [0.93454504 1.        ]
 [0.13478115 0.        ]
 [0.93715703 1.        ]
 [0.8209379  1.        ]
 [0.15259716 0.        ]
 [0.15776658 0.        ]
 [0.5963694  1.        ]
 [0.6490843  1.        ]]

In [40]:
num = sample.astype(int)
num.reshape(num.shape[0])

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0])

In [44]:
num = num.reshape(num.shape[0])
print(num.shape)

(418,)

In [52]:
submission = pd.DataFrame({
    "PassengerId" : testing['PassengerId'],
    "Survived" : num,
})

In [53]:
submission

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [54]:
submission.to_csv("submimssion_file.csv", index=False)